{% extends 'todo/layout.html' %}

{% block header %}
Signin
{% endblock %}

{% block form %}
<form action="" method="post" class="reg-form">
    {% csrf_token %}
    {{ form.mail }}
    {{ form.password }}
    <span>{{ error }}</span>
<!--    <input type="text" name="" id="" class="reg-form-input" placeholder="username">-->
<!--    <input type="email" name="" id="" class="reg-form-input" placeholder="email">-->
<!--    <input type="password" name="" id="" class="reg-form-input" placeholder="password">-->
<!--    <input type="password" name="" id="" class="reg-form-input" placeholder="repeat the password">-->
    <button class="reg-form-submit" type="submit">Signin</button>
</form>
{% endblock %}


{% block footer %}
<p class="text-after">Not have an account ? <a href="{% url 'register' %}">Signup</a></p>
{% endblock %}